* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  height: 60px;
  width: 100%;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.167);
  background-color: #0a0d36;
  color: white;
  position: fixed;
}

.nav-links{
  display:flex;
  gap:20px;
  list-style:none;
  transition:0.3s;

}

.logo{
  display:flex;
  gap:20px;
  list-style:none;
}

.menu-btn {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}



.navbar ul {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.navbar ul li {
  margin: 50px;
}

body {
  background-color: #040720;
  font-family: "Poppins", sans-serif;
}

.navbar ul li {
  display: inline-block;
  position: relative;
  font-weight: 500;
  margin-left: 50px;
  cursor: pointer;
}
.navbar ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: blue;
  transition: 0.4s;
}

.navbar ul li {
  transition: 0.3s;
}

.navbar ul li:hover {
  transform: scale(1.04);
}
.navbar ul li a {
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover::after {
  width: 100%;
}


/* section */

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

.left,
.right{
  flex:1;
}
.left {
  width: 60%;
  padding: 11%;
}

.left h1 {
  font-size: 50px;
  color: white;
}
.left span {
  color: rgb(54, 54, 237);
}

#element {
  color: #0066ffc2;
}
.right {
  width: 40%;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right img {
  border-radius: 1rem;
  height: 450px;
  width: 450px;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.right img:hover {
  transform: scale(1.01);
}

/* Button */
.btn {
  height: 45px;
  width: 150px;
  background-color: rgba(18, 18, 204, 0.675);
  color: white;
  margin: 40px 0;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.02);
}

/* link */
.link i {
  color: #808080;
  margin: 50px 20px 20px 0;
  font-size: 25px;
  transition: 0.3s;
}

.link i:hover {
  transform: scale(1.05);
  color: white;
}

/* About */

#about h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  color: #3333cc;
  transition: 0.5s;
}
 #about h1:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: underline;
 }

.aboutleft,
.aboutright{
  flex:1;
}
.aboutsection {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 30px;
}
.aboutleft {
  display: flex;
  justify-content: center;
}
.aboutleft #img {
  height: 400px;
  width: 400px;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.aboutleft #img:hover {
  transform: scale(1.01);
}
.about h2 {
  color: #3333cc;
  font-size: 25px;
}

.aboutright {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutright p {
  margin: 20px 0;
  color: gray;

}

/* skills */

.skills {
   display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 100px;

}
.skillssection {
  display: flex;
  justify-content: space-evenly;
}
#skills h1 {
  text-align: center;
  color: #3333cc;
  transition: 0.5s;
}
 #skills h1:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: underline;
 }

.skillsleft {
  color: white;
  margin: 50px 0;
}
.skillsleft p{
 margin: 20px 0;
}
.skillsright {
  color: white;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsright img {
  margin: 100px 0;
  height: 350px;
  width: 500px;
  border-radius: 1rem;
  background-size: cover;
  transition: 0.3s;
}
.skillsright img:hover {
  transform: scale(1.01);
}

.fill {
  color: black;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  margin: 10px 0;
  
}
.top {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.bar {
  width: 95%;
  background-color: rgba(0, 0, 255, 0.588);
  height: 4px;
  margin: -21px 0;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
}
.bar1 {
  width: 85%;
  background-color: rgba(0, 0, 255, 0.588);
  height: 4px;
  margin: -21px 0;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
}

.bar2 {
  width: 65%;
  background-color: rgba(0, 0, 255, 0.588);
  height: 4px;
  margin: -21px 0;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
}

.bar3 {
  width: 85%;
  background-color: rgba(0, 0, 255, 0.588);
  height: 4px;
  margin: -21px 0;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
}

.bar4 {
  width: 85%;
  background-color: rgba(0, 0, 255, 0.588);
  height: 4px;
  margin: -21px 0;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
}

/* Project */

#project h1{
 text-align: center;
  color: #3333cc;
  font-size: 40px;
  transition: 0.5s;
}

 #project h1:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: underline;
 }

.Project1 h2 {
  background-color: #0a0d36;
  color: white;
  display: inline;
}
.sectionProject {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 50px 0 50px;
  margin-top: 40px;
}
.sectionProject .Project1 {
  height: 410px;
  /* width: 25%; */
  width: 400px;
  background-color: rgba(10, 143, 209, 0.696);
  padding: 10px 10px 10px 10px;
  border-radius: 1rem;
}
.Project1 img {
  width: 100%;
  height: 250px;
  border-radius: 1rem;
  transition: 0.3s;
}

.nav-btn2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.nav-btn2 .btn-demo {
  height: 40px;
  width: 150px;
  background-color: blue;
  border-radius: 1.5rem;
  border: none;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.nav-btn2 .btn-demo:hover {
  transform: scale(1.03);
}
.btn-demo2 {
  height: 40px;
  width: 150px;
  border-radius: 1.5rem;
  border: 1px solid blue;
  cursor: pointer;
  color: rgba(0, 0, 255, 0.696);
  transition: 0.2s;
}

.btn-demo2:hover {
  transform: scale(1.03);
}
.img {
  display: flex;
  justify-content: center;
}

.project-para {
  color: white;
}

.project-para h3 {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5px;
}

.project-para p {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
} 


/* Contact */
#contact {
  color: #3333cc;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
 #contact h1 {
  transition: 0.5s;
 }

  #contact h1:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: underline;
 }

form {
  height: auto;
  width: 400px;
}

form {
  max-width: 400px;
  
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  height: 200px;
}


.submit {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 0.3rem;
}
.submit:hover {
  background-color: darkred;
  transform: scale(1.02);
}
.para {
  color: green;
}


/* footer */

.footer {
  color: white;
  text-align: center;
  margin-top: 30px;
  background-color: rgba(21, 17, 17, 0.68);
}

.footer h2 {
  font-size: 35px;
  font-weight: 400;
  margin-top: 25px;
}
.footer p {
  font-size: 14px;
  color: gray;
}

.socialmedia {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.media {
  margin-bottom: 20px;
  text-align: center;
}
.media a i{
  color: gray;
  font-size: 20px;
}
.media a i:hover{
  transform: scale(1.08);
  color: white;
}

.subfooter {
  height: 30px;
  /* background-color: rgba(128, 128, 128, 0.043); */
  background-color: rgb(21, 17, 17);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subfooter p {
  color: gray;
}

.subfooter .nav-Links {
   display: flex;
   gap: 30px;
   font-size: 15px;
}

.subfooter span{
  color: #0c0cefed;
}

.nav-Links li {
  list-style:none;
}

.nav-Links a{
  color: white;
  text-decoration: none;
  color: gray;
}









@media (max-width: 768px) {
  .menu-btn{
    display: block;
  }

  .navbar {
    /* flex-direction: column; */
  }
  .logo{
    position: absolute;
    top: 70px;
    left: 0;
    /* background-color: black; */

    width: 100%;
    flex-direction: column;
    text-align: center;
    /* padding: 20px 0; */
    display: none;


  }

  #navLinks {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: black;
    width: 100px;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    display: none;
    margin-right: 50px;
    background:rgba(0,0,0,0.1);
  backdrop-filter:blur(10px);
  border-radius: 0 1rem 1rem 0;

  }
  #navLinks.active {
    display: flex;
  }

  .left {
    flex-direction: column;
  }

  .section {
    flex-direction: column;
    text-align: center;
  }

  .aboutsection {
    flex-direction: column;
    text-align: center;
  }
  .skillssection {
    flex-direction: column;
    text-align: center;
  }
  .Project1 {
    display: flex;
    justify-content: center;
  }
  .sectionProject {
     flex-direction: column;
     margin-top: 20px;
  }

  .contact {
    width: 100%;
  }

  #conatctForm {
    flex-direction: column;
  }

  .right {
    display: flex;
    justify-content: center;
  }
}
